In [42]:
# Q1. Problem Statement: Data Filtering using Pandas
# Write a Python program that reads the player.csv (provided on LMS) file into a
# DataFrame, then shows only those players who played more than 150 innings
# and scored at least two centuries and 35 fifties.
# import pandas as pd

cricket = pd.read_csv("player.csv")
print(cricket)

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31
7     8        M S Dhoni      220      193  4746       84     0   23
8     9    Robin Uthappa      193      186  4722       87     0   25
9    10    Gutam Gambhir      154      152  4217       93     0   36

In [44]:
cricket[(cricket['innings'] > 150) & (cricket['100s'] > 1) & (cricket['50s'] >34)]

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
5     6  A B de Villiers      184      170  5162      133     3   40

In [46]:
# Q2. Problem Statement: Data Filtering using Pandas
# Use the above data set and do the below tasks.
# 1. Remove the data of players who didn't score a single century
# 2. Replace the player name "V Kohli " with "Virat Kohli “
# 3. How many matches they weren't getting a chance for batting to fetch
# that and stored in a new column and named it as “not batting”
# 4. Fetch data where they scored neither 100 nor 50 in matches and
# store it in the new column as renamed as “low score innings”

# cricket.drop(['100s'] == 0, axis = 1,inplace = True)
# print(cricket)

cricket.drop(cricket[cricket['100s'] == 0].index, inplace=True)
print(cricket)

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31

In [48]:
# 2. Replace the player name "V Kohli " with "Virat Kohli “

cricket['name'] = cricket['name'].replace("V Kohli" , "Virat Kohli")
# cricket['player'] = cricket['player'].replace("V Kohli", "Virat Kohli")
print(cricket)

   rank             name  matches  innings  runs  highest  100s  50s
0     1      Virat Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31

In [52]:
# 3. How many matches they weren't getting a chance for batting to fetch that and stored in a new column and named it as “not batting”

cricket['no batting'] = cricket['matches'] - cricket['innings']
print(cricket)

   rank             name  matches  innings  runs  highest  100s  50s  \
0     1      Virat Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31

   no batting
0           8
1           3
2           5
3           5
4           0
5          14
6           1

In [56]:
# 4. Fetch data where they scored neither 100 nor 50 in matches and store it in the new column as renamed as “low score innings”

cricket['low scored innings'] = cricket['innings'] - (cricket['100s'] + cricket['50s']) 
print(cricket)

   rank             name  matches  innings  runs  highest  100s  50s  \
0     1      Virat Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31

   no batting  low scored innings
0           8                 152
1           3                 145
2           5                 167
3           5                 160
4           0                  96
5          14                 127
6           1                 104